<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
  <title>NBA Player Recommender</title>
  <meta name="description" content="UGH">
  <meta name="author" content="Brianna Lytle">

  <link rel="stylesheet" type= "text/css" href="/static/styles.css">

</head>

<body>
<img src="/static/nbalogo.png">
<h1>NBA Player Recommender</h1>
<p>Defense | Offense | Shooting | Overall


</p>
<div class="form-result-container">
  <form action="/Offense">
    <p>
      <label for="player_name">Enter Player Name here:</label><br>
      <input type="text" name = "player_name">
    </p>
    <p><button type="Offense">Offense</button>
      <button type="Defense" formaction="/defense">Defense</button>
      <button type="Shooting" formaction="/shooting">Shooting</button>
      <button type="Overall" formaction="/overall">Overall</button>
    </p>

  </form>

</div>



  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>
