<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Similar Players</title>
  <meta name="description" content="UGH">
  <meta name="author" content="Brianna Lytle">

  <link rel="stylesheet" type= "text/css" href="/static/styles.css">

</head>

<div>
<center><img src="/static/nbalogo1.png" width="350" height="175" alt="nfl-logo"><br>
<img src="/static/recsystemtext.png" width="400" height="50" alt="nfl-logo"></center>
</div>

<center><div>
<p>{{user_input}} is worth {{user_player_sal}}</p>
<p>The top 3 players similar to {{user_input}} are:</p>
<!-- {{players}} -->
<ol>

  {%for i in (related_salaries)%}

    <li>{{i['player_name']}} | Salary: {{i['salary']}}
      <!-- {%for z in (related_teams)%}
          {{z['team']}}

      {%endfor%} -->
    </li>
  {%endfor%}


</ol>
</div>
</body></center>
</html>
